.side-panel {
  height: inherit;
  width: 250px;
  background-color: #303030;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .logo-container {
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }

  .menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      font-size: 18px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}